<%- include('../layouts/header.ejs') %>

<div class="container d-flex justify-content-center align-middle">
    <div class="card text-center m-5" style="width: 32rem;">
        <img src="/image/7887410_3793094.svg" class="card-img-top" alt="404 page not found" title="404 page not found">
        <div class="card-body">
            <h4 class="card-title text-primary"><strong>Page Not Found</strong></h4>
          </div>
    </div>
</div>

  <%- include('../layouts/footer.ejs') %>