<%- include('../layouts/header') %>

<body class="d-flex justify-content-center align-items-center py-4 bg-body-secondary">
    <div class="container d-flex justify-content-center align-items-center">
        <div class="card p-4" style="width: 100%; max-width: 400px;">
            <% if (typeof message !== 'undefined') { %>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <%= message %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            <% } %>
            <h1 class="h3 mb-4 text-center fw-bold">Admin Login</h1>
            <form action="" method="post">
                <div class="form-floating mb-3">
                    <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com" required>
                    <label for="floatingInput">Email</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password" required>
                    <label for="floatingPassword">Password</label>
                </div>
                <button class="btn btn-primary w-100 py-2" type="submit">Login</button>
                
            </form>
        </div>
    </div>
</body>

<%- include('../layouts/footer') %>